<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment List</title>
</head>
<body>
    <h3>Profiles</h3>
    <p>Role : <%=user.name%></p>
    <p>Role : <%=user.role%></p>
    <% if(!user.Wallet){ %>
        <a href="/addWallet"><button>Add Wallet</button></a>
    <% }else{ %>
        <p>Money : <%=formatRupiah(user.Wallet.money)%> <a href="/topUp"><button>TopUp</button></a></p> 
    <% } %>
    <a href="/investments"><button>All Investment List</button></a>
    <h1> User Investment List</h1>
    <table border="1">
        <thead>
            <th>No.</th>
            <th>Investment Name</th>
            <th>InvestmentAmount/items</th>
            <th>InvestmentType</th>
            <th>Action</th>
        </thead>
        <tbody>
        <% user.Investments.forEach((el,index) => {%>
            <td><%=++index%></td>
            <td><%=el.investmentName%></td>
            <td><%=formatRupiah(el.investmentAmount)%></td>
            <td><%=el.investmentType%></td>
            <td>
                    <a href="/<%=el.id%>/sell"><button>Sell</button></a>
                </td>
            </tbody>
        <% }) %>
    </table>
</body>
</html>